

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 600px;
    align-items: center;
    justify-content: center;
    
}




/* =========================
   BRANDING TEXT
   ========================= */

.branding-text {

    padding-left: 50px;

    font-size: 27px;

    line-height: 1.4;
    background-color: #efedf1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444444;
    
}


/* Orange text */
.orange-text {
    color: #fb843a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}


/* Blue text */
.blue-text {
    color: #097df9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}


/* Dark blue text */
.dark-blue-text {
    color: #9d43ec;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}


/* =========================
   RESPONSIVE
   ========================= */

@media (max-width: 600px) {

    .container {
        width: 90%;

        padding-top: 40px;
    }

    .heading-text {
        font-size: 20px;
    }

    .vegetable-text {
        font-size: 13px;
    }

    .branding-text {
        margin-left: 20px;

        font-size: 24px;
    }
}